services:
  db:
    image: postgres:18
    env_file:
      - .env
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
  web:
    build: .
    ports:
      - 8000:8000
    env_file:
    - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/project
      - web-media:/project/media/
      - web-staticfiles:/project/staticfiles/
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - nginx-vhost:/etc/nginx/vhost.d
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - web-media:/usr/share/nginx/media/
      - web-staticfiles:/usr/share/nginx/staticfiles/
volumes:
  db-data:
  web-media:
  web-staticfiles:
  nginx-vhost:
